<h2> Olá {{ name }},</h2>
<p>
    Parece que você solicitou uma recuperação da sua senha, caso queira continuar clique no link abaixo:
</p>
<p>
  <a href="{{ resetPasswordurl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, por favor descarte esse e-mail.
</p>

