<h2> Olá {{ name }},</h2>
<p>
    Parece que você solicitou uma recuperação da sua senha, use o código abaixo no seu app caso queira continuar:
</p>
<p>
  {{ token }}
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, por favor descarte esse e-mail.
</p>

